<nav class="navbar">
  <a href='/' id="logo-link"><h4 id="navbar-logo"> BRAIN FOOD </h4></a>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class = "nav-menu">
      <li><a href='/china/' class="nav-items">China</a></li>
      <li><a href='/india/' class="nav-items">India</a></li>
      <li><a href='/mexico/' class="nav-items">Mexico</a></li>
      <li><a href='/italy/' class="nav-items">Italy</a></li>
    </ul>
</nav>